html(lang="en")
  head
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/header.css")
  body
    .header 
      h1.blue 
        a(href="/") Project Accounts Documents Management System
      button.button.logout
        a(href='/logout') Logout
